@model FormaCompra
@{
    ViewData["Title"] = "Editar Forma de Compra";
}

<div class="text-center">
    <h1 class="display-4">Editar Forma de Compra</h1>

</div>

<form asp-controller="FormaCompra" asp-action="Atualizar" method="post">
    <input type="hidden" asp-for="CodCom" />
    <div class="form-group">
        <label for="formaCompra">Forma de Compra</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a Forma de Compra">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>
    <div class="form-group">
        <label for="desconto">Desconto (%)</label>
        <input type="text" asp-for="Desconto" class="form-control" placeholder="Digite o desconto">
        @Html.ValidationMessageFor(x => x.Desconto)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
    <a class=" btn btn-secondary d-block" asp-controller="FormaCompra" asp-action="Index">Voltar</a>
</form>