@model Assunto
@{
    ViewData["Title"] = "Editar Assunto";
}

<div class="text-center">
    <h1 class="display-4">Editar Assunto</h1>

</div>

<form asp-controller="Assunto" asp-action="Atualizar" method="post">
    <input type="hidden" asp-for="CodAs" />
    <div class="form-group">
        <label for="assunto">Assunto</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite o assunto">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
    <a class=" btn btn-secondary d-block" asp-controller="Assunto" asp-action="Index">Voltar</a>
</form>