@{
    ViewData["Title"] = "Cadastrar Assunto";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Assunto</h1>

</div>

<form>
    <div class="form-group">
        <label for="assunto">Assunto</label>
        <input type="text" class="form-control" placeholder="Digite o assunto">        
    </div>    
    <a class="btn btn-primary d-block" role="button">Adicionar</a>
    <a class=" btn btn-secondary d-block" asp-controller="Assunto" asp-action="Index">Voltar</a>
</form>