@model Autor
@{
    ViewData["Title"] = "Confirmação deletar autor";
}

<div class="text-center">
    <h3>Deseja deletar o Autor (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary d-block" asp-controller="Autor" asp-action="Index" role="button">Cancelar Exclusão</a>
<a class="btn btn-danger d-block" asp-controller="Autor" asp-action="ConfirmarDelecao" asp-route-id="@Model.CodAu" role="button">Confirmar Exclusão</a>

