@model Autor
@{
    ViewData["Title"] = "Editar Autor";
}

<div class="text-center">
    <h1 class="display-4">Editar Autor</h1>

</div>

<form asp-controller="Autor" asp-action="Atualizar" method="post">
    <input type="hidden" asp-for="CodAu" />
    <div class="form-group">
        <label for="assunto">Autor</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o autor">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <button type="submit" class="btn btn-primary btn-block" role="button">Atualizar</button>
    <a class=" btn btn-secondary d-block" asp-controller="Autor" asp-action="Index">Voltar</a>
</form>